/**
 * Website Node Details
 *
 * ???
 *
 * @section Details
 * @page Features
 */

.rk-website-details {
    // Box
    background-size:        contain;
    background-repeat:      no-repeat;

    &__title {

        // Text
        font-size:      $rk-fontsize-xlarge;

    }
}








