.link-box {

    float: left;
    width:48%;
    
    &.details {
        margin-right: 2%;
    }
    &.locations {
        margin-left: 2%;
    }

    .inner-box {
        padding: 29px;
    }
    .c--halo {
        color: #f5f5f5; 
    }
}

@media (max-width: 1024px) {
    .link-box {
        float: left;
        width:100%;
        margin: 0px;

        &.details {
            margin: 29px 0px 0px;
        }
        &.locations {
            margin: 29px 0px 29px;
        }
    }
}