/**
 * Global Layout Settings
 *
 * ???
 *
 * @section Global
 * @page Layouts
 */
html,
body {
  // Display & Box Model
  height:               100%;
  width:                100%;
  padding:              0;
  margin:               0;

  // Colour

  // Default Text
  font-family:          $rk-fontfamily;
  font-size:            10px;
}
a {
  text-decoration:    none;
}